useDynLib(mlemur, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(reactable, reactable, reactableOutput, colDef, renderReactable)
importFrom(readxl, read_excel, excel_sheets)
importFrom(shinyjs, useShinyjs, show, hide, hidden, runjs)
importFrom(writexl, write_xlsx)
importFrom(rclipboard, rclipboardSetup, rclipButton)
importFrom(shinyFeedback, useShinyFeedback, showFeedback, hideFeedback, showToast, loadingButton, resetLoadingButton)
importFrom(shinyWidgets, awesomeRadio, awesomeCheckbox, awesomeCheckboxGroup)
importFrom(stats, median, na.exclude, na.omit, p.adjust, pchisq, qchisq, sd)
importFrom(boot, boot, boot.ci)
import(shiny)
export(mlemur, rluria, mle.mutations, lrt.mutations, drake.formula, lea.coulson.median, jones.median, p0, koch.quartiles, luria.delbruck.mean, mle.fold)